{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="column is-4 is-offset-4 p-3">
    <h3 class="title mt-3 mb-3">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="mb-3">
                <div class="d-inline-flex">
                    <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="mb-3">
                <div class="d-inline-flex">
                    <input class="form-control" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="mb-3">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock %}
