{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<h4 class="title is-size-4">
  Welcome, {{ name }}!
</h4>
<div class="container has-background-light has-text-dark">
  <div id="post-title" class="container" style="margin: 20px;">
    <h1 class="title has-text-dark" >This is a demo post</h1>
  </div>
  <div id="post-content" class="container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quia nam temporibus numquam, iure in inventore officia? Repudiandae minus assumenda asperiores quibusdam doloremque consectetur aliquam vitae repellat eveniet incidunt exercitationem omnis obcaecati, totam architecto debitis, esse delectus at. Amet quo quasi, explicabo possimus veritatis error eveniet expedita earum officia esse.</p>
  </div>
</div>
{% endblock %}
