{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block content %}
<div class="column is-4 is-offset-4 p-3">
    <h3 class="title mb-3">Sign Up</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="mb-3">
                <div class="d-inline-flex">
                    <input class="form-control" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="mb-3">
                <div class="d-inline-flex">
                    <input class="form-control" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            </div>

            <div class="mb-3">
                <div class="d-inline-flex">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}




<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>